.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 50px;
  padding: 12px 25px;

  font-family: $font-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  color: $color-alice-blue;
  letter-spacing: 0.05em;

  background-color: $color-black-pearl;

  border-radius: 3px;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--border {
    padding: 10px 15px;

    font-size: 14px;

    border: 1px solid $color-alice-blue;
  }

  &--blue {
    padding: 16px 26px;

    font-size: 18px;
    line-height: 21px;

    background-color: $color-deep-sky-blue;

    @include vp-767 {
      padding: 10px 30px;

      font-size: 14px;
      line-height: 16px;
    }
  }

  &--white {
    min-width: 180px;
    padding: 14px 26px;

    font-size: 14px;
    line-height: 16px;
    color: $color-deep-sky-blue;

    background-color: $color-alice-blue;

    border: 1px solid $color-deep-sky-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.5;
  }
}
