.connection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 30px 96px;

  max-width: 475px;
  padding: 0;
  margin: 0;

  list-style: none;

  @include vp-1023 {
    max-width: 445px;
    gap: 20px;
    justify-content: flex-end;
  }
}

.connection__link {
  position: relative;

  padding: 15px 10px 15px 45px;

  color: $color-alice-blue;

  outline: none;

  @include hover-focus {
    color: $color-deep-sky-blue;
  }

  &:active {
    opacity: 0.5;
  }

  @include vp-1023 {
    display: inline-block;

    min-width: 40px;
    min-height: 40px;
    padding: 10px;
  }
}

.connection__link-icon {
  position: absolute;

  top: 50%;
  left: 10px;

  transform: translateY(-50%);

  @include vp-1023 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.connection__text {
  @include vp-1023 {
    display: none;
  }
}
