.social-network {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  padding: 0;
  margin: 0 0 0 10px;

  list-style: none;
}

.social-network a {
  position: relative;

  display: inline-block;

  min-width: 40px;
  min-height: 40px;
  padding: 5px;

  outline: none;

  @include focus {
    & svg {
      fill: $color-deep-sky-blue;
    }
  }
}

.social-network svg {
  position: absolute;
  top: 50%;
  left: 50%;

  fill: $color-default-white;

  transform: translate(-50%, -50%);

  @include hover-focus {
    fill: $color-deep-sky-blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.social-network span {
  @include visually-hidden;
}
