.about-company {
  color: $color-black-pearl;
}

.about-company__content-wrapper {
  position: relative;

  min-height: 320px;
  padding-left: 250px;
  padding-bottom: 20px;

  background-color: $color-transparent;

  @include vp-1023 {
    padding-left: 175px;
    padding-bottom: 0;
  }

  @include vp-767 {
    padding: 0;

    background-image: none;
  }
}

.about-company__image {
  position: absolute;
  top: 0;
  left: 0;

  @include vp-767 {
    display: none;
  }

}

.about-company__title {
  margin: 0 0 10px;

  font-family: $font-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
  }
}

.about-company__text {
  margin: 0 0 40px;

  @include vp-1023 {
    margin: 0 0 10px;
  }
}

.about-company__text-paragraph {
  margin: 0 0 22px;

  font-size: 16px;
  line-height: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin: 0 0 20px;

    font-size: 14px;
    line-height: 19px;
  }
}
