.main-container__main-block,
.main-container__advantages {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.main-container__about-company {
  margin-bottom: 100px;

  @include vp-1023 {
    margin-bottom: 80px;
  }
}
