.product-cart {
  position: relative;

  display: block;

  color: $color-alice-blue;

  background-color: $color-black-pearl;

  @include hover {
    display: block;

    box-shadow: 0 0 12px -2px $color-default-white;
  }

  &:active {
    opacity: 0.7;
  }
}

.product-cart__wrapper {
  position: relative;

  display: block;

  min-height: 650px;
  padding: 50px 40px;

  z-index: 2;

  @include vp-1023 {
    padding: 40px 45px;

    min-height: 250px;
  }

  @include vp-767 {
    padding: 30px;
  }
}

.product-cart__background {
  z-index: -1;
}

.product-cart__title {
  max-width: 190px;
  margin: 0;

  font-family: $font-roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
  }
}

.product-cart__button {
  position: absolute;
  right: 0;
  bottom: 0;

  min-width: 60px;
  min-height: 60px;

  background-color: $color-deep-sky-blue;

  @include vp-767 {
    min-width: 40px;
    min-height: 40px;
  }
}

.product-cart__icon-arrow {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
